body {
  background-color: rgb(94, 94, 94);
  margin: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden
}

.title-bar {
  height: 50px;
  width: 100%;
  background-color: rgb(94, 94, 94);
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

.title-bar {
  margin-right: 10px;
  border: 1px solid black;
}

.file-section {
    margin-right: 690px;
}

.file-section button  {
    margin-left: 10px;
  background-color: rgb(94, 94, 94);
  border: none;
  outline: none;
}

.button-section {
  display: flex;
  align-items: center;
  margin-left: auto; /* Push the run section button to the right end */
}

.button-section button {
  background-color: rgb(94, 94, 94);
  margin-right: 10px; /* Add spacing between the button and the right end */
  outline: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-panel {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.console-container {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
}

.console {
    height: 150px;
  background-color: black;
  color: #fff;
  overflow-y: auto;
  padding: 10px;
  width: 100%;
  max-height: 200px;
}

.output {
    top: 0;
    left: 0;
    color: green;
    display: block;
    overflow: auto;

}

main {
  flex: 1;
  padding: 10px;
}

main textarea {
  width: 100%;
  height: calc(100% - 200px);
  background-color: transparent;
  color: #fff;

  border: none;
  outline: none;
  resize: none;

  white-space: nowrap;
  overflow-x: auto;
}
